<div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <!-- Card Image -->
      <img class="activator" src="http://www.civimi.com/beta/civimi/img/basic-img/user.jpg">
    </div>
    <div class="card-content activator" style="cursor:pointer">
      <!-- Card Title -->
      <span class="card-title grey-text text-darken-4">Leandro Pereira</span>
    </div>
    <div class="card-reveal">
      <!-- Card Reveal Content -->
      <span class="card-title grey-text text-darken-4">Leandro Pereira<i class="fas fa-user-tie"></i></span>

      <p>
        Engenheiro Mecatrônico
      </p>

      <p class="center">
        <!-- Sample Button -->
        <a href="https://github.com/LeandroNSPereira" class="indigo lighten-2 waves-effect waves-light btn"><i class="fab fa-github"></i></i>GitHub</a>
        <br><br>
      </p>

    </div>
  </div>
